.Contact__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.Contact__container h2 {
    font-size: 2rem;
    color: var(--main)
}

.Contact__container p{
    width: 75%;
    font-size: 1.4rem;
    text-align: justify;
    margin: 10px 0 15px 0;
    color: var(--secondary)
}


.Contact__container input[type='text'], .Contact__container textarea {
    display: block;
    padding: 20px;
    margin: 25px 0 5px 0;
    width: 300px;
    font-weight: bold;
    font-size: 0.9rem;
    border: 1px solid var(--main);
    color: var(--main);
}

.Contact__container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border: 2px solid var(--button-color);
    padding: 20px;
    border-radius: 10px;
}


.Contact__container textarea::placeholder, .Contact__container input::placeholder {
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--secondary)
}

.Contact__container textarea {
    width: 300px;
    height: 150px;
}

.Contact__container input[type='submit'] {
    width: 100px;
    height: 25px;
    font-size: 0.8rem;
    font-weight: bold;
    border: 2px solid var(--main-color);
    border-radius: 20px;
    background: var(--button-color);
    color: var(--background-color);
    transition: 0.3s;
    cursor: pointer;
    margin-top: 10px;
}

.Contact__container input[type='submit']:hover {
    background: var(--secondary-color);
    color: var(--main-color);
}