.Header__container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header__container h1 {
    font-weight: bolder;
    font-size: 2.5rem;
    color: var(-main-color);
}

.Header__container h1 > span {
    font-weight: bold;
    color: var(--button-color);
}

@media (max-width: 768px) {
    .Header__container h1 {
        font-size: 2rem;
    }
}

@media (max-width: 450px) {
    .Header__container h1 {
        font-size: 1.2rem;
    }
}

@media (max-width: 375px) {
    .Header__container h1 {
        font-size: 1rem;
    }
}