:root{
  --background-color: #f8f5f2;
  --secondary-color: #f45d48;
  --main-color:#232323;
  --paragraph-color:#222525;
  --button-color:#078080;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.html {
  font-size: 62.5%;
}

body {
  background: var(--background-color);
  font-family: "Libre Baskerville", serif;
}